__pycache__/
*.egg-info
dist/

# Prevent unneeded django created files
manage.py
*.sqlite3
django_db_translate/migrations/
django_db_translate/models.py
django_db_translate/tests.py

# Any temp file created by custom makemessages
tmp*.py

# Do not add locale to VCS
locale/
